*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans",sans-serif;
    /* Photo by Jess Bailey on Unsplash */
    background-image: url('../img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #003057;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    height: 100px;
    width: 100%;
    background: #fff;
    margin-bottom: 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .img-link{
    margin-left: 50px;
    text-decoration: none;
}

nav img{
    width: 170px;
}

nav .button-link{
    margin-right: 50px;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #003057;
    opacity: 0.8;
    font-size: min(4.5vw, 1.2rem);
    transition: 0.5s ease-in-out;
}

nav .button-link:hover{
    color: #38678b;
    transition: 0.3s;
}

section h2{
    background: #F19820;
    border: 1px solid red;
}

#form{
    width: 100%;
    max-width: 350px;
    background: rgba(231, 231, 226, 0.9);
    color: #003057;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    backdrop-filter: blur(0.3px);
    margin-bottom: 100px;
}

#form .form{
    margin: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.input-group label{
    display: block;
    margin-left: 25px;
    font-size: min(4vw, 1.3rem);
}

.input-group input{
    display: block;
    width: 80%;
    border: none;
    background-color: transparent;
    background: transparent;
    color: inherit;
    text-transform: capitalize;
    padding: 5px;
    margin-left: 25px;
    font-size: min(3.5vw, 1rem);
    border-bottom: 1px solid #003057;
    margin-bottom: 20px;
    outline: none;
}

.input-email label{
    display: block;
    margin-left: 25px;
    font-size: min(4vw, 1.3rem);
}

.input-email input{
    display: block;
    width: 80%;
    border: none;
    background-color: transparent;
    background: transparent;
    color: inherit;
    text-transform: lowercase;
    padding: 5px;
    margin-left: 25px;
    font-size: min(3.5vw, 1rem);
    border-bottom: 1px solid #003057;
    margin-bottom: 20px;
    outline: none;
}

.input-select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 55%;
    font-size: min(4vw, 1.3rem);
}

.input-select select{
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    border: none;
    outline: none;
    background: rgba(247, 142, 5, 0.29);
    text-transform: uppercase;
    text-align: center;
    color: #003057;
    padding: 5px;
    transition: 0.8s ease-in-out;
}

.input-select select:hover{
    background: rgb(231, 164, 77);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.input-group textarea{
    border-radius: 7px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 82%;
    margin-left: 25px;
    color: #003057;
}

.input-group span{
    margin-left: 25px;
    font-size: min(4vw, 1.3rem);
}

.button{
    text-align: center;
}

.button input{
    cursor: pointer;
    border: none;
    background: #003057;
    border-radius: 4px;
    padding: 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.button input:hover{
    background: #0a4d85;
    border-radius: 15px;
    transition: 0.5s;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #003057;
    text-align: center;
    width: 100%;
    height: 100px;
    background: #F19820;
}

footer .text{
    margin-bottom: 10px;
}

.icons a{
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
    color: #38678b;
    transition: 0.5s ease-in-out;
}

.icons a:hover{
    color: #003057;
    transition: 0.5s;
}



@media(max-width:912px) {
    header{
        height: 90px;
    }
    nav div{
        display: flex;
        align-items: center;
        max-width: 200px;
    }
    nav .button-link{
        margin-right: 30px;
    }
    nav .img-link{
        margin-left: 20px;
    }
    nav img{
        width: 150px;
    }
    footer{
        margin-top: 100px;
        height: 150px;
    }
    .icons a{
        font-size: 30px;
    }
    #form{
        max-width: 400px;
        max-height: 950px;
        padding: 5px;
        margin-top: 100px;
    }
    #form .form{
        margin: 20px; 
    }
    .input-select select{
        max-width: 150px;
    }
}
